<div	class="container	content">
  <div	class="row">
    <div	class="card	card-outline-secondary">
      <div	class="card-header">
        <h5>Listado de objetos</h5>
      </div>
      <div	class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let objeto of objetos">{{objeto}} *</li>
        </ul>
      </div>
    </div>
  </div>
  <hr	class="mb-5">
</div>

<div	class="container	content">
  <div	class="row">
    <div	class="col-md-6	offset-md-3">
      <span	class="anchor"	id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div	class="card	card-outline-secondary">
        <div	class="card-header">
          <h3	class="mb-0">Whishlist</h3>
        </div>
        <div	class="card-body">
          <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a href="#" (click)="voteReset()">Encerar Votación <i class="material-icons md-18">rotate_left</i></a>
  </div>

  <hr	class="mb-5">
  <div class="row row-flex">
    <app-destino-viaje
      *ngFor="let destino of all; let i=index"
      [destino]="destino"
      (clicked)="elegido($event)"
      [idx]="i+1"
      appEspiame
    ></app-destino-viaje>
  </div>

  <hr	class="mb-5">
  <div class="row row-flex">
    <h5>Actividad</h5>
    <ul>
      <li *ngFor="let upd of updates;">{{upd}}</li>
    </ul>
  </div>

  <hr	class="mb-5">
  <div class="row row-flex">
    <h5>Tracking</h5>
    <ul>
      <li *ngFor="let trk of trackings;">{{trk}}</li>
    </ul>
  </div>

</div>
