<div	class="card-content"  [@esFavorito]="destino.selected ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-header">
    <a href="#" (click)="eliminar()"><i class="material-icons md-18">close</i></a>
  </div>
  <div	class="card-img">
    <img	src="https://placeimg.com/380/230/nature"	alt="">
<!--    <span><h4>{{destino.nombre}}</h4></span>-->
    <span><h4>{{posicion}}</h4></span>
  </div>
  <div	class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{servicio}}</i>
          <i *ngSwitchDefault>{{servicio}}</i>
        </span>
      </li>
    </ul>
    <div class="card">
      <div class="card-columns">
        <a class="col-1" href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
        <label> Votos: {{destino.votes}}</label>
        <a class="col-1" href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
      </div>
    </div>
    <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegin_preferido lista_destinos_item">Ir!</a>
<!--    <span [style.display]="destino.isSelected() ? '' : 'none'">- PREFERIDO -</span>-->
    <span *ngIf="destino.isSelected()">
<!--    No llena la variable y muestra como texto.-->
      <span ngNonBindable> {{PREFERIDO}}</span>
    </span>
    <a [routerLink]="['/destino/', destino.id]" > -> Ver detalle</a>

  </div>
</div>

<!--{{nombre}} *-->
